{% extend 'base.html' %}

{% block main %}

<div class="row well well-lg">
				<div class="col-sm-6">
					<h2>Where Iron sharpens Iron.</h2>
					<p class="lead">Strong Arms Gym provides all the neccessary tools you need to reach Strength and become the Strongest you've ever been. Here's to a Stronger You.<p>

				<button type='button' class="btn btn-lg btn-info">Take the Tour</button>
				<button type='button' class="btn btn-lg btn-primary">Sign Up Today</button>
				
				</div>
				<div class="col-sm-6 hidden-xs">
					<img class="pad-lg" src="images/StrongArmsGym.png" alt="Strong Arms Gym" />
				</div>
			</div>
			<div class="row features text-center">
				<div class="col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
					<i class="glyphicon glyphicon-pencil"></i>
					<h3>Sign up Today!</h3>
					<p>Sign up today for a free week trial.</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<i class="glyphicon glyphicon-scale"></i>
					<i class="glyphicon glyphicon-apple"></i>
					<h3>Hire a Personal Trainers</h3>
					<p>Take on a personal trainer to really kick your strength training and weight loss in gear.</p>
				</div>
				<div class="col-sm-4 col-xs-6">
					<i class="glyphicon glyphicon-menu-hamburger"></i>
					<i class="glyphicon glyphicon-ok"></i>
					<h3>State of the art Equipment</h3>
					<p>Top of the line workout equipment.</p>
				</div>
			</div>

{% endblock %}