
{% if form.errors %}
	<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}

<form class="form" id="formLogin" method="POST" action="{% url 'account_view' %}"> {% csrf_token %}
  	<label class="sr-only">Email address</label>
    <input name="username" id="username" type="text" placeholder="Username" class="form-control"> 

    <label class="sr-only">Password</label>
    <input name="password" id="password" type="password" placeholder="Password" class="form-control"><br>
    <input type="submit" id="btnLogin" class="btn btn-default" value="login"/>
</form>